@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit&display=swap");
body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#navbar-placeholder {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: transparent;
  transition: 0.4s;
}
main {
  margin-top: 5.5rem;
  margin-bottom: 0;
}
#detail-produk {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f2f2f2;
}

#detail-produk > div {
  flex: 1;
}

#detail-produk > div:first-child {
  margin-right: 20px;
}

#detail-produk > #gambarproduk img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-left: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-prev {
  margin-left: 8px;
}
.swiper-button-next {
  margin-right: 25px;
}

#detail-produk > #gambarproduk img:hover {
  transform: scale(1.05);
}

#swiper-button {
  margin-left: 0;
}

#detail-produk > div#textproduk {
  font-size: 18px;
  color: #333;
}

#detail-produk > div#textproduk h1 {
  font-size: 24px;
}

button {
  height: 40px;
  width: 150px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s;
}

button:hover {
  background-color: #202020;
  transform: scale(0.95);
}
