html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #333;
  background: #111;
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  /* width: calc(200% - 20px); */
}

.product-card {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-images-swiper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  transform: translateY(-200%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}
.product-description {
  margin-top: 10px;
}
.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  text-align: center;
  margin-top: 20px;
}
.product-details p {
  margin: 5 0;
  padding: 0;
}
.buy-button {
  position: absolute;
  margin-top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buy-button:hover {
  background-color: #0056b3;
}
